<div class="user container">
    <!-- ユーザー情報表示用 -->
    <table class="user__info">
        <tr>
            <th>ユーザー情報</th>
            <td class="user__info--name"><%= @user.username %></td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td class="user__info--postal"><%= @user.postal_code %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td class="user__info--address"><%= @user.address %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td class="user__info--phone"><%= @user.phone_number %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td class="user__info--email"><%= @user.email %></td>
        </tr>
    </table><br />

    <!-- 出品物表示用 -->
    <div class="user__exhibition">
        <h2><strong>出品物</strong></h2>
        <% if @user.items.nil? %>
            出品物はありません。
        <% else %>
            <div class="row">
                <% @items.each do |itm| %>
                    <div class="user__exhibition--list col-md-4">
                        <div class="user__exhibition--name">
                            <div class="user__exhibition--item">
                                <%= link_to item_path(itm) do %>
                                  <%= itm.name %><br />
                                <% end %>
                                <p>出品設定額：<%= itm.listed_price %>円</p>
                                <!-- ブーストされている場合金額を表示 -->
                                <% if itm.listed_price_boost.nil?%>
                                <% else %>
                                    ※購入者によって<%= itm.listed_price %>円ブーストされました<br />
                                <% end %>
                                <%= itm.genre_id %><br />
                                <% if itm.selling_status == 0 %>
                                    販売中
                                <% elsif itm.selling_status == 1 %>
                                    <p>購入済み　以下住所に商品を発送してください</p>
                                    <p>購入者：<%= itm.ex_username %></p>
                                    <p>〒<%= itm.postal_code %></p>
                                    <p>住所：<%= itm.address %></p>
                                    <%= link_to "発送完了を通知する", item_finish_path( itm.id ), class: 'item-finish-btn btn btn-primary', method: :put %>
                                <% elsif itm.selling_status == 2 %>
                                    発送完了通知済
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <!-- 購入履歴表示用 -->
    <h2 id="order__list"><strong>購入履歴</strong></h2>
    <% @orders.each do |ord| %>
        <div class="order__list--info col-md-4">
            <div class="order__list--name">
                <%= link_to item_path(ord.item.id) do %>
                    <%= ord.item_name %>
                <% end %>
            </div>
            <div class="order__list--price">
                ￥<%= ord.total_price %>
            </div>
            <div class="order__list--order_status">
                <% if ord.order_status == 0 %>
                    <div id="0 pre_shipping">注文受付中</div>
                <% elsif ord.order_status == 1 %>
                    <div id="1 shipping">商品発送中</div>
                <% else %>
                    <div id="2 finish_shipping">取引完了</div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

