<div class="row">
	<%= form_for( @item, url:items_path ) do | itm | %>
		<div class="col-lg-7">
			<div class="field">
			   	<%= itm.label :name, 'この商品の名前は？' %><br />
				<%= itm.text_field :name, placeholder: "入力してください" %><br />
			</div>
			<div class="field">
			   	<%= itm.label :introduction, 'この商品にまつわるおもいでは？' %><br />
				<%= itm.text_area :introduction, size: "50x15", placeholder: "入力してください" %><br />
			</div>
			<div class="field">
				<!-- リスト形式でジャンルを選択 -->
			   	<%= itm.label :genre_id, 'おもいでのジャンルは？' %><br />
			    <%= itm.select :genre_id, Genre.all.map{|genre|[genre.name, genre.id]}.to_h , prompt:'--選択してください--' %><br />
			</div>
			<div class="field">
			   	<%= itm.label :listed_price, 'この商品の値段は？' %><br />
				<%= itm.number_field :listed_price, min:0, placeholder: "〇〇円で入力" %><br />
			</div>
			<div class="field">
			   	<%= itm.submit "商品を出品する", class: "btn btn-primary" %><br />
			</div>
		</div>
		<div class="col-lg-5">
	      	<%= itm.label :image, 'この商品の画像は？' %><br />
		    <%= itm.attachment_field :image, placeholder: "商品画像を変更" %>
		    <%= itm.attachment_field :image2, placeholder: "商品画像を変更" %>
		    <%= itm.attachment_field :image3, placeholder: "商品画像を変更" %>
		</div>
	<% end %>
</div>