	<div class="row">
		<div class="col-lg-12" style="background-color: orange;">
			<h1>アイテム一覧ページ</h1><br />
			※できれば下に人気ジャンルを表示したい　※いいね数が多いものを優先して表示したい
		</div>
		<!-- 取得したitemsをeach文で表示していく -->
	    <% Item.all.each do | i | %>
		<div class="col-lg-4" style="background-color: red;">
	        <%= attachment_image_tag i, :image, size:'350x350', fallback: 'no_image.jpg', size:'350x350' %>
      		<%= link_to i.name, item_path( i ) %><br />
		    <%= i.listed_price %><br />
		    <%= i.genre_id %><br />
		    <%= i.selling_status ? '取引中' : '取引終了' %>
		</div>
		<% end %>
	</div>
