<!DOCTYPE html>
<html>
  <head>
    <title>おもいで通販</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <header class="navbar navbar-default navbar-static-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
          <h4><strong>ロゴがここに入る</strong></h4>
          <!-- <%= image_tag 'omoide_logo.png' %> -->
          <% end %>
        </nav>

        <!-- メニューはできればレスポンシブ対応したい　小さくなるとハンバーガーメニューに変化 -->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!-- ログイン中の場合 -->
            <% if user_signed_in? %>
              <li>
                ログインユーザ：<%= current_user.username%> さん<br>
                <% if flash.any? then %>
                  <% flash.each do |key, value| %>
                    <%= value %>
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to items_exhibition_path do %>
                  <strong>出品する</strong>
                <% end %>
              </li>
              <li>
                <%= link_to items_path do %>
                  <strong>商品を探す</strong>
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user.id) do %>
                  <strong>マイページ</strong>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <strong>ログアウト</strong>
                <% end %>
              </li>
            <!-- ログアウトしている場合 -->
            <% else %>
              <li>
                <br>
                <% if flash.any? then %>
                  <% flash.each do |key, value| %>
                    <%= value %>
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to "このサイトについて", homes_about_path %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
            <!-- 検索ボックス（ransakを使用） -->
            <li>
              <input type="search" name="genre" placeholder="ジャンルで検索する"></input>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer>
    © 2020 Seiya Ito inc.<br />
    ポートフォリオ用サイトです。実際の取引はできません。
  </footer>

</html>
